<!DOCTYPE html>
<html>
  <head>
    <title>Dynamic Items</title>
  </head>
  <body>
    <input type="number" id="quantity" min="1" placeholder="Enter quantity" />
    <div id="items"></div>
  </body>
</html>
